.vscode/
.DS_Store
__pycache__/
*-checkpoint.ipynb
.venv
*.egg*
build/*
_C.*
*.nii.gz
*.csv
outputs/*
checkpoints/*.pt
*.pt

# data & results
data/
work_dirs/
sam2_logs/
eval_results_*/
*.npz

# cache
__pycache__/
*.pyc
.vscode/

